.text-hover-container {
  width: 100%;
  height: 200px;
  background-color: #000; /* Dark background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-hover-svg {
  width: 600px;
  height: 100px;
}

.text-outline {
  font-size: 48px;
  stroke: #ffffff;
  stroke-width: 0.5;
  fill: none;
  opacity: 0.4;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.text-gradient {
  font-size: 100px;
  stroke: url(#textGradient);
  stroke-width: 1;
  fill: none;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
